$desktop: 1000px;
$tablet: 768px;
$mobile: 320px;

:root {
    --white: #ffffff;
    --yellow: #FFDA00;
    --gray: #DEDEDE;
    --gray2: #E5E5E5;
    --black: #000000;
    --textColor: #100F0F;
    --mistakeColor: #E4002B;
    --padding: 16px;
}


